.infoRow {
  background-color: #fff;
  border-radius: 24px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 115px;
}

.value {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  color: var(--color-black);
  word-break: break-all;
}

.label {
  font-size: var(--font-size-l);
  color: var(--color-black);
}
