.statusContainer {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.topRow {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.statusWrapper {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  flex: 1;
  border-radius: 12px;
  color: var(--color-black);
}

.statusWrapper.loading {
  background-color: var(--color-upload-progress);
}
.statusWrapper.success {
  background-color: var(--color-upload-success);
}
.statusWrapper.danger {
  background-color: var(--color-upload-error);
  color: var(--color-white);
}

.statusInfo {
  display: flex;
  flex-direction: column;
}

.statusInfo span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.statusText {
  color: var(--color-black);
}

.resetContainer {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
  border-radius: 10px;
}

.resetButton {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
}

.spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--color-white);
  border-right-color: var(--color-active);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
