.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxl);
  font-size: var(--font-size-xl);
  font-weight: 400;
}

.titleText span {
  user-select: none;
  padding: var(--spacing-xs);
  font-size: var(--font-size-4l);
  font-weight: 500;
  background-color: var(--color-primary);
}
