.container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.row {
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 16px;
    padding: 20px 16px;
    gap: 24px;
    cursor: pointer;
    font-size: 18px;
    color: var(--color-black);
}

.fileInfo {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-basis: 300px;
}

.success {
    color: var(--color-black);
}

.error {
    color: var(--color-black);
}

.deleteButton {
    background: var(--color-white);
    border-radius: 8px;
    border: none;
    padding: 20px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

